{% extends 'home.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">Emergency</h1>
  <p class="lead">You have clicked the Distress button.</p>
  <hr class="my-4">
  <p>your personal details and your location have been shared with the one having the recovery mail and to the nearest police staion</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

</div>

<!--<p>For personal details use user.name for name ,user.Aadhar_Number,user.ContactNumber,user.EmailId-->
<!--  user.Age,user.RecoveryMail,user.RecoveryNumber      and put these Variables in double opening closing braces-->
<!--  Uncomment when not required......Or just copy the same thing of track.html</p>-->

<!--<h1>{{user.name}} {{user.EmailId}} an example</h1>-->

{% endblock %}