<div id="for-search-district">
<form action="" method="post">
<!--    {% csrf_token %}-->
         <label>Select District</label>
         <select name="district" id = "myList">
<!--             {% for district in list %}-->
<!--           <option  value = "{{district}}">{{district}}</option>-->
<!--           {% endfor %}-->
             <option  value = "1">One</option>
             <option  value = "2">Two</option>
             <option  value = "3">Three</option>
         </select>
    <button type="submit">Search</button>
</form>
    </div>