
{% extends 'home.html'%}

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-center" >
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="">
        {% csrf_token %}
        <div align="center">
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}
